extends layout
block content
  ul
    li.ui-block-a
      img(src='img/index/4.jpeg')
      span.pic_title='三亚湾 2016年1月'
  script(src='http://api.map.baidu.com/api?v=2.0&ak=KbtS2MR8DpR88uGhcD59zVYL')
  script(src='/js/index_map.js')
  script(src='/js/index.js')
