doctype html
html
  head
    title= title
    link(rel='stylesheet/less', href='/less/style.less')
  body
    header
    block content
    footer
      script(src='http://libs.baidu.com/lesscss/1.3.0/less.min.js')
